@mixin bt {
    background-color: transparent;
    padding: 7px 10px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    border: 1px dashed grey;
    color: grey;
    &:hover {
        color: black;
    }
    &:active {
        background-color: rgb(244, 244, 244);
        font-weight: bold;
        border: 1px solid rgb(255, 85, 0);
    }
}   

@mixin bt2 {
    background-color: transparent;
    color: black;
    font-weight: 500px;
    border: 1px solid gray;
    &:hover {
        background-color: rgb(239, 234, 234);
    }
}